@CHARSET "UTF-8";
.head {
	position:relative;
	top:0;
	height:100px;
	border-bottom-style:solid;
	border-bottom-width: 2px;
	border-color:#c0c0c0;
}
h1{ 
	
	text-align: center;
	text-transform: capitalize;
	color:#408080;
	font-size:2.6em;
	font-family: "Verdana", Sans-serif, serif;
	z-index:-1;
	margin:0;
	
}
.headlang{
	position:absolute;
	top:0;
	right:0;
	font-size:1.0em;
}
body{
	background-color: #d0e4fe;
}
ul {
	position:static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size:1.4em;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li.active{
	background-color: #111;
}

li:hover {
    background-color: #111;
}

#navigator li a {
	color: white;
	text-decoration: none;
	
}

.intro{
	text-align: center;
	height:100%;/* Full height */
	width:20%;
	margin:10px;
	position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the intro div has too much content */	
}
 p{
   overflow: auto;
   color:#408080;
 }
 
 #detail{
    float:right;
    width:75%;
    text-align: left;
    margin:10px;
    padding:10px;
    font-size:1.6em;
 }
 
 .detail {
   display:none;
 }

dl dt {
	font-size:1.2em;
	padding:15px;
}

dl dt dd{
	font-size:1.2em;
    font-style: italic;
}

.expul {
	style="list-style-type:none";
	background-color: white;
}
.expul li{
	color: black;
	text-align: left;
	padding: 5px 16px;
}
 
.expul li:hover {
    background-color: #ffffff;
}

#footer {background-color: #c0c0c0;  width: 100%; clear: both;
    	position: relative; z-index: 10; height: 80px; margin-top: 3em;  border-top: 1px solid grey; opacity: 0.8; padding-top: 10px;}


#contact-text h4{color: #408080; text-align: center; paddind-top: 10px;}
